*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.arrow-img{
    height: 30px;
}
.view-icon{
        display: flex;
        gap: 5px;
        font-size: 25px;
        font-weight: 400;
        align-items: center;
        cursor: pointer;
        transition: transform 0.2s ease;
}

.view-icon:hover{
    transform: scale(1.1);
}



.product-container{

    width: 1000px;
    margin:auto;
    justify-content: space-evenly;
    align-items: center;
   padding: 2rem 2rem;   /*  Relative units for padding */
}

.product-catagory{

    width: 900px;
    margin: auto;
}

.product-catagory-1{

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box{

    width: 150px;
    height: 150px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 5px 10px #aaaaaa;
    transition: transform 0.1s ease;
}

.box:hover{
    transform: scale(1.1);
}


.products{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    padding: 0 1.5rem;
}


@media (max-width:450px) {


}