.hero-container {
  max-width: 48rem; /* max-w-3xl */
  margin-left: auto; /* mx-auto */
  margin-right: auto; /* mx-auto */
  margin-top: 11rem; /* mt-44 (44 * 0.25rem) */
  text-align: center; /* text-center */
}

.hero-image {
  height: 9rem; /* h-36 */
  display: inline; /* inline */
}

.hero-title {
  font-size: 2.25rem; /* text-4xl */
  line-height: 3.5rem;
  color: #262626; /* text-neutral-800 */
  font-weight: 900; /* font-black */
}

.hero-text {
  font-size: 1.125rem; /* text-lg */
  font-weight: 300; /* font-light */
  color: #737373; /* text-neutral-500 */
}
